/* h2{
    display: inline;
    background-color: yellow;
} */
 span{
    /* background-color: greenyellow; */
    border: 2px solid black;
    padding: 50px;
    margin: 50px;

 }
 div{
    background-color: greenyellow;
    border: 2px solid black;
    padding: 50px;
    margin: 5px;
    height: 100px;
    width: 200px;
    display: inline-block; 
  }
h1{
  border: 2px solid black;
  width: 50%; 
}
#outer{
   height: 400px;
   width: 400px;
   background-color: green;
   margin: 50px;
}
#inner{
   height: 100px;
   width: 100px;
   background-color: pink; 
   margin: 10%;
}
/* 1246 */