div{
    width: 400px;
    height: 200px;
    background-color: green;
    margin: 10px auto;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsw4xZ18umaqNnEj0sHZdB68l0FRuvKMuq5mJZlxmVoQ&s=10);
    background-size: cover;
    background-color: red;

}